# Dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Build
dist/
build/

# Test
.pytest_cache/
coverage/node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraformrc
terraform.rc
